# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
.next/
out/
dist/
build/

# Env
.env
.env*.local
!.env.example

# Testing
coverage/
playwright-report/
test-results/
.nyc_output/

# Prisma
prisma/*.db

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
doc/
